:root {
  --mainLeftFontSize: 4rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

/* Utility Classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

ul.flex {
  padding: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50%;
}

li {
  list-style: none;
  transition: all 0.3s;
  padding: 1% 2%;
  border-radius: 10px;
  cursor: pointer;
}

li:hover {
  background-color: white;
  color: black;
}

.img-grp {
  width: 75%;
  overflow: hidden;
}

img {
  width: 100%;
}

/* header */
header.flex {
  justify-content: space-between;
  padding: 0 1rem;
  text-align: center;
}

/* main left */
.left {
  position: relative;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.left h1 {
  position: absolute;
  width: 100%;
  font-size: var(--mainLeftFontSize);
  transform: translateX(-100%);
  animation: shift3 5s forwards 4s;
}

.left img {
  animation: updown 3s forwards, shift 5s forwards 4s;
}

.left .img-grp {
  animation: shift2 5s forwards 7s;
}

@keyframes updown {
  from {
    transform: translateY(200%);
  }
}

@keyframes shift {
  to {
    transform: translateX(100%);
  }
}

@keyframes shift2 {
  to {
    /* width: 0; */
  }
}

/* main right */

.right {
  width: 50%;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: flex-start;
}

.right img {
  transform: translateX(-100%);
  animation: shift3 5s forwards 4s;
}

@keyframes shift3 {
  to {
    transform: translateX(0);
  }
}

/* Responsiveness for large screen laptops */
@media (max-width: 1439px) {
  :root {
    --mainLeftFontSize: 3rem;
  }
}

/* Responsiveness for large screen tablets */
@media (max-width: 768px) {
    :root {
        --mainLeftFontSize: 2rem;
    }
    
    header h1 {
        font-size: 1.5em;
    }
}

/* Responsiveness for small screen tablets */
@media (max-width: 600px) {
  :root {
    --mainLeftFontSize: 1.8rem;
  }

  header.flex {
    flex-direction: column;
  }

  header h1,
  header ul.flex {
    width: 100%;
    border: 2px solid green;
  }

  header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  li {
    font-size: 0.8em;
  }
}

/* Responsiveness for large screen androids */
@media (max-width: 425px) {
  :root {
    --mainLeftFontSize: 1.2rem;
  }

  header.flex {
    flex-direction: column;
  }

  header h1,
  header ul.flex {
    width: 100%;
    border: 2px solid green;
  }

  header h1 {
    font-size: 1em;
    margin-bottom: 0;
  }

  li {
    font-size: 0.6em;
  }
}

/* Responsiveness for small screen androids */
@media (max-width: 375px) {
    :root {
      --mainLeftFontSize: 1.5rem;
    }
  
    header.flex {
      flex-direction: column;
    }
  
    header h1,
    header ul.flex {
      width: 100%;
      border: 2px solid green;
    }
  
    header h1 {
      font-size: 1.1em;
      margin-bottom: 0;
    }
  
    li {
      font-size: 0.8em;
    }
  }

/* Responsiveness for small screen androids */
@media (max-width: 340px) {
    :root {
      --mainLeftFontSize: 1rem;
    }
  
    header.flex {
      flex-direction: column;
    }
  
    header h1,
    header ul.flex {
      width: 100%;
      border: 2px solid green;
    }
  
    header h1 {
      font-size: 0.8em;
      margin-bottom: 0;
    }
  
    li {
      font-size: 0.6em;
    }
  }

/* Responsiveness for rest small mobiles */
@media (max-width: 240px) {
    html
    {
        font-size: 10px;
    }

    header.flex {
        flex-direction: column;
      }
    
      header h1,
      header ul.flex {
        width: 100%;
      }
    
      header h1 {
        margin-bottom: 0;
      }
  }